@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-size: 15px;
}
*{
    box-sizing: border-box;
}

body{
    background-image: url('./assets//images/desktop-bg.jpg');
    background-size: cover;
    height: 100vh;
}